@model IEnumerable<MovieTheater.ViewModels.ScoreHistoryViewModel>
@if (Model == null || !Model.Any())
{
    <div class="alert alert-info">No data found.</div>
}
else
{
    <table class="table table-bordered table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th>Date</th>
                <th>Movie</th>
                <th class="text-end">Score</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DateCreated.ToString("dd/MM/yyyy")</td>
                <td>@item.MovieName</td>
                <td class="text-end">
                    @if (item.Type == "add")
                    {
                        <span class="text-success">+@item.Score</span>
                    }
                    else if (item.Type == "use")
                    {
                        <span class="text-danger">-@item.Score</span>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
} 