@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "My Account";
}

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar Tabs -->
        <div class="col-2 bg-light border-end vh-100 pt-3">
            <ul class="nav flex-column nav-pills" id="accountTabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#" data-tab="Information">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-tab="Profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-tab="Rank">Rank</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-tab="Score">Score</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-tab="Voucher">Voucher</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-tab="History">History Booking Ticket</a>
                </li>
            </ul>
        </div>

        <!-- Tab Content -->
        <div class="col-10 p-4">
            <div id="tabContent">
                Loading...
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function loadTab(tab) {
            $('#accountTabs .nav-link').removeClass('active');
            $(`#accountTabs .nav-link[data-tab="${tab}"]`).addClass('active');
            $('#tabContent').html('<h3>Loading...</h3>');
             
            var url = '@Url.Action("LoadTab", "MyAccount")';
            $.get(url, { tab: tab }, function (data) {
                $('#tabContent').html(data);
            });
        }

        $(function () {
            $('#accountTabs .nav-link').click(function (e) {
                e.preventDefault();
                loadTab($(this).data('tab'));
            });

            // Read tab from URL and load it
            const urlParams = new URLSearchParams(window.location.search);
            const activeTab = urlParams.get('tab'); // Get ONLY the value of the 'tab' parameter
            loadTab(activeTab || 'Information'); // Use default if tab parameter is not present

            // Read toast message from URL and show it
            const toastMessage = urlParams.get('toast'); // Get ONLY the value of the 'toast' parameter
            if (toastMessage) {
                // Decode URI component to handle spaces and special characters
                // Use the global showToast function from site.js
                if (typeof showToast === 'function') {
                     showToast(decodeURIComponent(toastMessage));
                }
            }
        });
    </script>
}



