@model IEnumerable<Movie>

<div class="text-center mb-2">
	<h2>Schedule Management</h2>
</div>
@* 
<div class="text-center mb-2">
	<a asp-controller="Movie" asp-action="Create" class="btn btn-sm btn-primary">Create a Movie</a>
</div> *@

<table class="table table-bordered table-striped">
	<thead class="table-dark">
		<tr class="text-center">
			<th>ID</th>
			<th>Name</th>
			<th style="width: 150px;">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var movie in Model)
		{
			<tr>
				<td class="text-center">@movie.MovieId</td>
				<td class="text-center">@movie.MovieNameEnglish</td>
				<td>
					<div class="d-flex align-items-center gap-2">
						<a href="@Url.Action("MovieShow", "Movie", new { id = movie.MovieId })" class="btn btn-sm btn-primary">Edit Movie Show</a>
					</div>
				</td>

			</tr>
		}
	</tbody>
</table>

<partial name="_ToastMessages" />
