USE [master]
GO
/****** Object:  Database [MovieTheater]    Script Date: 8/11/2025 9:05:58 AM ******/
CREATE DATABASE [MovieTheater]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieTheater', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MovieTheater.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieTheater_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MovieTheater_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieTheater].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieTheater]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Account_ID] [varchar](10) NOT NULL,
	[Address] [varchar](255) NULL,
	[Date_Of_Birth] [date] NULL,
	[Email] [varchar](255) NULL,
	[Full_Name] [varchar](255) NULL,
	[Gender] [varchar](255) NULL,
	[Identity_Card] [varchar](255) NULL,
	[Image] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
	[Phone_Number] [varchar](255) NULL,
	[Register_Date] [date] NULL,
	[Role_ID] [int] NULL,
	[STATUS] [int] NULL,
	[USERNAME] [varchar](50) NULL,
	[Rank_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema_Room]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema_Room](
	[Cinema_Room_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cinema_Room_Name] [varchar](255) NULL,
	[Seat_Width] [int] NULL,
	[Seat_Length] [int] NULL,
	[Version_ID] [int] NULL,
	[Seat_Quantity]  AS ([Seat_Width]*[Seat_Length]),
	[Status_ID] [int] NULL,
	[Disable_Reason] [nvarchar](500) NULL,
	[Unavailable_Start_Date] [datetime] NULL,
	[Unavailable_End_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cinema_Room_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConditionType]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConditionType](
	[ConditionType_ID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConditionType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoupleSeat]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoupleSeat](
	[CoupleSeatId] [int] IDENTITY(1,1) NOT NULL,
	[FirstSeatId] [int] NOT NULL,
	[SecondSeatId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CoupleSeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_ID] [varchar](10) NOT NULL,
	[Account_ID] [varchar](10) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[FoodId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Description] [varchar](500) NULL,
	[Image] [varchar](255) NULL,
	[Status] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodInvoice]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodInvoice](
	[FoodInvoice_ID] [int] IDENTITY(1,1) NOT NULL,
	[Invoice_ID] [varchar](10) NOT NULL,
	[Food_ID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodInvoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Invoice_ID] [varchar](10) NOT NULL,
	[Add_Score] [int] NULL,
	[BookingDate] [datetime] NULL,
	[Status] [int] NULL,
	[Total_Money] [decimal](18, 0) NULL,
	[Use_Score] [int] NULL,
	[Seat] [varchar](30) NULL,
	[Account_ID] [varchar](10) NULL,
	[Movie_Show_Id] [int] NULL,
	[Promotion_Discount] [nvarchar](2000) NULL,
	[Voucher_ID] [varchar](10) NULL,
	[RankDiscountPercentage] [decimal](5, 2) NULL,
	[Seat_IDs] [nvarchar](max) NULL,
	[Cancel] [bit] NOT NULL,
	[CancelDate] [datetime] NULL,
	[CancelBy] [nvarchar](50) NULL,
	[Employee_ID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Member_ID] [varchar](10) NOT NULL,
	[Score] [int] NULL,
	[Account_ID] [varchar](10) NULL,
	[Total_Points] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Member_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Movie_ID] [varchar](10) NOT NULL,
	[Content] [varchar](1000) NULL,
	[Duration] [int] NULL,
	[From_Date] [date] NULL,
	[Movie_Production_Company] [varchar](255) NULL,
	[To_Date] [date] NULL,
	[Movie_Name_English] [varchar](255) NULL,
	[Large_Image] [varchar](255) NULL,
	[Small_Image] [varchar](255) NULL,
	[TrailerUrl] [varchar](255) NULL,
	[LogoImage] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Person]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Person](
	[Movie_ID] [varchar](10) NOT NULL,
	[Person_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_ID] ASC,
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Show]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Show](
	[Movie_Show_ID] [int] IDENTITY(1,1) NOT NULL,
	[Movie_ID] [varchar](10) NOT NULL,
	[Cinema_Room_ID] [int] NOT NULL,
	[Show_Date] [date] NOT NULL,
	[Schedule_ID] [int] NOT NULL,
	[Version_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_Show_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Type]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Type](
	[Movie_ID] [varchar](10) NOT NULL,
	[Type_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_ID] ASC,
	[Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Version]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Version](
	[Movie_ID] [varchar](10) NOT NULL,
	[Version_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_ID] ASC,
	[Version_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Person_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Date_Of_Birth] [date] NULL,
	[Nationality] [varchar](100) NULL,
	[Gender] [bit] NULL,
	[Image] [varchar](255) NULL,
	[IsDirector] [bit] NULL,
	[Description] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[Promotion_ID] [int] NOT NULL,
	[Detail] [varchar](255) NULL,
	[Discount_Level] [int] NULL,
	[End_Time] [datetime] NULL,
	[Image] [varchar](255) NULL,
	[Start_Time] [datetime] NULL,
	[Title] [varchar](255) NULL,
	[Is_Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Promotion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionCondition]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionCondition](
	[Condition_ID] [int] IDENTITY(1,1) NOT NULL,
	[Promotion_ID] [int] NULL,
	[ConditionType_ID] [int] NULL,
	[Target_Entity] [varchar](50) NULL,
	[Target_Field] [varchar](50) NULL,
	[Operator] [varchar](10) NULL,
	[Target_Value] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Condition_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rank]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rank](
	[Rank_ID] [int] IDENTITY(1,1) NOT NULL,
	[Rank_Name] [varchar](50) NULL,
	[Discount_Percentage] [decimal](5, 2) NULL,
	[Required_Points] [int] NULL,
	[PointEarningPercentage] [decimal](5, 2) NOT NULL,
	[ColorGradient] [nvarchar](200) NOT NULL,
	[IconClass] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Rank] PRIMARY KEY CLUSTERED 
(
	[Rank_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_ID] [int] NOT NULL,
	[Role_Name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[Schedule_ID] [int] IDENTITY(1,1) NOT NULL,
	[Schedule_Time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Schedule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule_Seat]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule_Seat](
	[Schedule_Seat_ID] [int] IDENTITY(1,1) NOT NULL,
	[Movie_Show_ID] [int] NULL,
	[Invoice_ID] [varchar](10) NULL,
	[Seat_ID] [int] NULL,
	[Seat_Status_ID] [int] NULL,
	[Booked_Price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Schedule_Seat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[Seat_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cinema_Room_ID] [int] NULL,
	[Seat_Column] [varchar](5) NULL,
	[Seat_Row] [int] NULL,
	[Seat_Status_ID] [int] NULL,
	[Seat_Type_ID] [int] NULL,
	[SeatName] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[Seat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat_Status]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat_Status](
	[Seat_Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Status_Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Seat_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat_Type]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat_Type](
	[Seat_Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_Name] [varchar](50) NULL,
	[Price_Percent] [decimal](18, 0) NOT NULL,
	[ColorHex] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Seat_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Status_Name] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Type_ID] [int] NOT NULL,
	[Type_Name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Version]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[Version_ID] [int] NOT NULL,
	[Version_Name] [varchar](255) NULL,
	[Multi] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Version_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[Voucher_ID] [varchar](10) NOT NULL,
	[Account_ID] [varchar](10) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[IsUsed] [bit] NULL,
	[Image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Voucher_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 8/11/2025 9:05:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[Account_ID] [varchar](10) NOT NULL,
	[Movie_ID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC,
	[Movie_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Account_ID], [Address], [Date_Of_Birth], [Email], [Full_Name], [Gender], [Identity_Card], [Image], [Password], [Phone_Number], [Register_Date], [Role_ID], [STATUS], [USERNAME], [Rank_ID]) VALUES (N'AC001', N'123 Main St', CAST(N'2000-01-15' AS Date), N'admin@gmail.com', N'Admin', N'Female', N'123456789', N'/image/profile.jpg', N'123456', N'0123456789', CAST(N'2023-01-01' AS Date), 1, 1, N'admin', NULL)
INSERT [dbo].[Account] ([Account_ID], [Address], [Date_Of_Birth], [Email], [Full_Name], [Gender], [Identity_Card], [Image], [Password], [Phone_Number], [Register_Date], [Role_ID], [STATUS], [USERNAME], [Rank_ID]) VALUES (N'AC002', N'789 Oak Streat', CAST(N'2002-10-10' AS Date), N'member@gmail.com', N'Dat', N'male', N'079204026410', N'/images/avatars/087a313a-fffb-439a-93c7-27adef9cb726_poop_emoji.jpg', N'123456', N'0936434954', CAST(N'2025-08-06' AS Date), 3, 1, N'member', 4)
INSERT [dbo].[Account] ([Account_ID], [Address], [Date_Of_Birth], [Email], [Full_Name], [Gender], [Identity_Card], [Image], [Password], [Phone_Number], [Register_Date], [Role_ID], [STATUS], [USERNAME], [Rank_ID]) VALUES (N'AC003', N'789 Oak St', CAST(N'2002-11-10' AS Date), N'member2@gmail.com', N'Member', N'Female', N'132837465', N'/image/profile.jpg', N'1', N'0111222333', CAST(N'2023-01-10' AS Date), 3, 0, N'member2', NULL)
GO
SET IDENTITY_INSERT [dbo].[Cinema_Room] ON 

INSERT [dbo].[Cinema_Room] ([Cinema_Room_ID], [Cinema_Room_Name], [Seat_Width], [Seat_Length], [Version_ID], [Status_ID], [Disable_Reason], [Unavailable_Start_Date], [Unavailable_End_Date]) VALUES (1, N'Screen 1', 5, 5, 1, 1, NULL, NULL, NULL)
INSERT [dbo].[Cinema_Room] ([Cinema_Room_ID], [Cinema_Room_Name], [Seat_Width], [Seat_Length], [Version_ID], [Status_ID], [Disable_Reason], [Unavailable_Start_Date], [Unavailable_End_Date]) VALUES (2, N'Screen 2', 5, 5, 1, 1, NULL, NULL, NULL)
INSERT [dbo].[Cinema_Room] ([Cinema_Room_ID], [Cinema_Room_Name], [Seat_Width], [Seat_Length], [Version_ID], [Status_ID], [Disable_Reason], [Unavailable_Start_Date], [Unavailable_End_Date]) VALUES (3, N'Screen 3', 10, 10, 1, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Cinema_Room] OFF
GO
INSERT [dbo].[ConditionType] ([ConditionType_ID], [Name]) VALUES (1, N'Comparison')
INSERT [dbo].[ConditionType] ([ConditionType_ID], [Name]) VALUES (2, N'Selection')
GO
SET IDENTITY_INSERT [dbo].[CoupleSeat] ON 

INSERT [dbo].[CoupleSeat] ([CoupleSeatId], [FirstSeatId], [SecondSeatId]) VALUES (1, 492, 493)
INSERT [dbo].[CoupleSeat] ([CoupleSeatId], [FirstSeatId], [SecondSeatId]) VALUES (4, 498, 499)
INSERT [dbo].[CoupleSeat] ([CoupleSeatId], [FirstSeatId], [SecondSeatId]) VALUES (5, 500, 501)
SET IDENTITY_INSERT [dbo].[CoupleSeat] OFF
GO
INSERT [dbo].[Employee] ([Employee_ID], [Account_ID], [Status]) VALUES (N'EM001', N'AC004', 1)
INSERT [dbo].[Employee] ([Employee_ID], [Account_ID], [Status]) VALUES (N'EM002', N'AC005', 1)
INSERT [dbo].[Employee] ([Employee_ID], [Account_ID], [Status]) VALUES (N'EM003', N'AC006', 1)
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([FoodId], [Category], [Name], [Price], [Description], [Image], [Status], [CreatedDate], [UpdatedDate]) VALUES (1, N'food', N'Popcorn', CAST(45000.00 AS Decimal(18, 2)), N'Fresh buttered popcorn', N'/images/foods/af2a1d7e-d2ad-4b45-810b-c7390e0449d8_888adcde997a2f1fd25853e9916186b8.jpg', 0, CAST(N'2025-06-25T09:04:25.193' AS DateTime), CAST(N'2025-08-04T14:20:56.537' AS DateTime))
INSERT [dbo].[Food] ([FoodId], [Category], [Name], [Price], [Description], [Image], [Status], [CreatedDate], [UpdatedDate]) VALUES (4, N'food', N'Nachos', CAST(55000.00 AS Decimal(18, 2)), N'Cheese nachos with salsa', N'/images/foods/642a3374-88eb-4926-9542-8dd4fc765b30_RobloxScreenShot20250203_115037658.png', 0, CAST(N'2025-06-25T09:04:25.193' AS DateTime), CAST(N'2025-08-04T14:20:41.873' AS DateTime))
INSERT [dbo].[Food] ([FoodId], [Category], [Name], [Price], [Description], [Image], [Status], [CreatedDate], [UpdatedDate]) VALUES (5, N'drink', N'Pepsi', CAST(25000.00 AS Decimal(18, 2)), N'Cold Pepsi 500ml', NULL, 0, CAST(N'2025-06-25T09:04:25.193' AS DateTime), CAST(N'2025-08-04T14:20:39.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodInvoice] ON 

INSERT [dbo].[FoodInvoice] ([FoodInvoice_ID], [Invoice_ID], [Food_ID], [Quantity], [Price]) VALUES (1, N'INV063', 1, 1, CAST(45000.00 AS Decimal(18, 2)))
INSERT [dbo].[FoodInvoice] ([FoodInvoice_ID], [Invoice_ID], [Food_ID], [Quantity], [Price]) VALUES (2, N'INV063', 4, 1, CAST(55000.00 AS Decimal(18, 2)))
INSERT [dbo].[FoodInvoice] ([FoodInvoice_ID], [Invoice_ID], [Food_ID], [Quantity], [Price]) VALUES (3, N'INV067', 1, 1, CAST(45000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[FoodInvoice] OFF
GO
INSERT [dbo].[Invoice] ([Invoice_ID], [Add_Score], [BookingDate], [Status], [Total_Money], [Use_Score], [Seat], [Account_ID], [Movie_Show_Id], [Promotion_Discount], [Voucher_ID], [RankDiscountPercentage], [Seat_IDs], [Cancel], [CancelDate], [CancelBy], [Employee_ID]) VALUES (N'DH025717', 0, CAST(N'2025-08-01T23:09:56.323' AS DateTime), 0, CAST(44200 AS Decimal(18, 0)), 0, N'B2, C2, E2', N'GUEST', 13, N'0', NULL, CAST(0.00 AS Decimal(5, 2)), N'217,227,247', 0, NULL, NULL, NULL)
INSERT [dbo].[Invoice] ([Invoice_ID], [Add_Score], [BookingDate], [Status], [Total_Money], [Use_Score], [Seat], [Account_ID], [Movie_Show_Id], [Promotion_Discount], [Voucher_ID], [RankDiscountPercentage], [Seat_IDs], [Cancel], [CancelDate], [CancelBy], [Employee_ID]) VALUES (N'DH035209', 3, CAST(N'2025-08-06T16:14:51.817' AS DateTime), 1, CAST(60000 AS Decimal(18, 0)), 0, N'J7, J8', N'AC08061217', 48, N'0', NULL, CAST(0.00 AS Decimal(5, 2)), N'302,303', 0, NULL, NULL, NULL)
INSERT [dbo].[Invoice] ([Invoice_ID], [Add_Score], [BookingDate], [Status], [Total_Money], [Use_Score], [Seat], [Account_ID], [Movie_Show_Id], [Promotion_Discount], [Voucher_ID], [RankDiscountPercentage], [Seat_IDs], [Cancel], [CancelDate], [CancelBy], [Employee_ID]) VALUES (N'DH039396', 0, CAST(N'2025-08-01T20:30:21.747' AS DateTime), 0, CAST(90000 AS Decimal(18, 0)), 0, N'E2, F2', N'GUEST', 13, N'0', NULL, CAST(0.00 AS Decimal(5, 2)), N'247,257', 0, NULL, NULL, NULL)
GO
INSERT [dbo].[Member] ([Member_ID], [Score], [Account_ID], [Total_Points]) VALUES (N'MB001', 3014, N'AC002', 11016)
INSERT [dbo].[Member] ([Member_ID], [Score], [Account_ID], [Total_Points]) VALUES (N'MB002', 10000, N'AC003', 10000)
INSERT [dbo].[Member] ([Member_ID], [Score], [Account_ID], [Total_Points]) VALUES (N'MB003', 0, N'AC010', 0)
GO
INSERT [dbo].[Movie] ([Movie_ID], [Content], [Duration], [From_Date], [Movie_Production_Company], [To_Date], [Movie_Name_English], [Large_Image], [Small_Image], [TrailerUrl], [LogoImage]) VALUES (N'MV002', N'Peter Parker seeks help from Doctor Strange after his identity is revealed, leading to multiverse chaos.', 148, CAST(N'2025-06-20' AS Date), N'Marvel Studios', CAST(N'2026-10-21' AS Date), N'Spider-Man: No Way Home', N'/image/li-spiderman.png', N'/image/spider.jpg', N'https://www.youtube.com/embed/rt-2cxAiPJk', N'/images/logo/spiderman-logo.png')
INSERT [dbo].[Movie] ([Movie_ID], [Content], [Duration], [From_Date], [Movie_Production_Company], [To_Date], [Movie_Name_English], [Large_Image], [Small_Image], [TrailerUrl], [LogoImage]) VALUES (N'MV003', N'Paul Atreides unites with the Fremen to seek revenge against the conspirators who destroyed his family.', 166, CAST(N'2025-08-06' AS Date), N'Legendary Pictures', CAST(N'2025-08-31' AS Date), N'Dune: Part Two', N'/image/li-dune.jpg', N'/image/dune.jpg', N'https://www.youtube.com/embed/Way9Dexny3w', N'/images/logo/dune-logo.png')
GO
INSERT [dbo].[Movie_Person] ([Movie_ID], [Person_ID]) VALUES (N'MV001', 1)
INSERT [dbo].[Movie_Person] ([Movie_ID], [Person_ID]) VALUES (N'MV001', 2)
INSERT [dbo].[Movie_Person] ([Movie_ID], [Person_ID]) VALUES (N'MV002', 3)
GO
SET IDENTITY_INSERT [dbo].[Movie_Show] ON 

INSERT [dbo].[Movie_Show] ([Movie_Show_ID], [Movie_ID], [Cinema_Room_ID], [Show_Date], [Schedule_ID], [Version_ID]) VALUES (2, N'MV001', 1, CAST(N'2025-07-16' AS Date), 3, 1)
INSERT [dbo].[Movie_Show] ([Movie_Show_ID], [Movie_ID], [Cinema_Room_ID], [Show_Date], [Schedule_ID], [Version_ID]) VALUES (3, N'MV009', 2, CAST(N'2025-07-02' AS Date), 3, 1)
INSERT [dbo].[Movie_Show] ([Movie_Show_ID], [Movie_ID], [Cinema_Room_ID], [Show_Date], [Schedule_ID], [Version_ID]) VALUES (4, N'MV008', 3, CAST(N'2025-07-02' AS Date), 4, 1)
SET IDENTITY_INSERT [dbo].[Movie_Show] OFF
GO
INSERT [dbo].[Movie_Type] ([Movie_ID], [Type_ID]) VALUES (N'MV001', 1)
INSERT [dbo].[Movie_Type] ([Movie_ID], [Type_ID]) VALUES (N'MV001', 2)
INSERT [dbo].[Movie_Type] ([Movie_ID], [Type_ID]) VALUES (N'MV002', 3)
GO
INSERT [dbo].[Movie_Version] ([Movie_ID], [Version_ID]) VALUES (N'MV001', 1)
INSERT [dbo].[Movie_Version] ([Movie_ID], [Version_ID]) VALUES (N'MV001', 2)
INSERT [dbo].[Movie_Version] ([Movie_ID], [Version_ID]) VALUES (N'MV002', 2)
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

SET IDENTITY_INSERT [dbo].[Person] OFF
GO
INSERT [dbo].[Promotion] ([Promotion_ID], [Detail], [Discount_Level], [End_Time], [Image], [Start_Time], [Title], [Is_Active]) VALUES (1, N'Get 20% off on your first order!', 20, CAST(N'2025-12-31T00:00:00.000' AS DateTime), N'/images/promotions/9db50576ce794689befa24e44760454a.png', CAST(N'2025-05-01T00:00:00.000' AS DateTime), N'First Time Promo', 1)
INSERT [dbo].[Promotion] ([Promotion_ID], [Detail], [Discount_Level], [End_Time], [Image], [Start_Time], [Title], [Is_Active]) VALUES (2, N'Order with 3 or more people and save 15%!', 15, CAST(N'2025-12-31T00:00:00.000' AS DateTime), N'/images/promotions/180bcb54559947ea97ae0b3aa89d9841.png', CAST(N'2025-05-01T00:00:00.000' AS DateTime), N'Group Discount', 1)
INSERT [dbo].[Promotion] ([Promotion_ID], [Detail], [Discount_Level], [End_Time], [Image], [Start_Time], [Title], [Is_Active]) VALUES (3, N'Special holiday 08/06/2025.Member will get sale for every seat on every movie show in 08/06/2025.', 10, CAST(N'2025-08-15T14:23:26.523' AS DateTime), N'/images/promotions/e3e014fffdb54f77a5217e407bac2c5e.png', CAST(N'2025-07-16T14:23:26.523' AS DateTime), N'Holiday 08/06/2025', 1)
GO
SET IDENTITY_INSERT [dbo].[PromotionCondition] ON 

INSERT [dbo].[PromotionCondition] ([Condition_ID], [Promotion_ID], [ConditionType_ID], [Target_Entity], [Target_Field], [Operator], [Target_Value]) VALUES (1, 1, 1, N'Invoice', N'AccountId', N'=', NULL)
INSERT [dbo].[PromotionCondition] ([Condition_ID], [Promotion_ID], [ConditionType_ID], [Target_Entity], [Target_Field], [Operator], [Target_Value]) VALUES (2, 2, 1, N'Invoice', N'Seat', N'>=', N'3')
INSERT [dbo].[PromotionCondition] ([Condition_ID], [Promotion_ID], [ConditionType_ID], [Target_Entity], [Target_Field], [Operator], [Target_Value]) VALUES (3, NULL, NULL, N'Movie', N'MovieNameEnglish', N'=', N'Oppenheimer')
SET IDENTITY_INSERT [dbo].[PromotionCondition] OFF
GO
SET IDENTITY_INSERT [dbo].[Rank] ON 

INSERT [dbo].[Rank] ([Rank_ID], [Rank_Name], [Discount_Percentage], [Required_Points], [PointEarningPercentage], [ColorGradient], [IconClass]) VALUES (1, N'Bronze', CAST(0.00 AS Decimal(5, 2)), 0, CAST(5.00 AS Decimal(5, 2)), N'linear-gradient(135deg, #804A00 0%, #B87333 50%, #CD7F32 100%)', N'fas fa-medal')
INSERT [dbo].[Rank] ([Rank_ID], [Rank_Name], [Discount_Percentage], [Required_Points], [PointEarningPercentage], [ColorGradient], [IconClass]) VALUES (2, N'Gold', CAST(3.00 AS Decimal(5, 2)), 2000, CAST(6.00 AS Decimal(5, 2)), N'linear-gradient(135deg, #FFD700 0%, #FDB931 50%, #DAA520 100%)', N'fas fa-trophy')
INSERT [dbo].[Rank] ([Rank_ID], [Rank_Name], [Discount_Percentage], [Required_Points], [PointEarningPercentage], [ColorGradient], [IconClass]) VALUES (3, N'Diamond', CAST(8.00 AS Decimal(5, 2)), 5000, CAST(10.00 AS Decimal(5, 2)), N'linear-gradient(135deg, #89CFF0 0%, #A0E9FF 50%, #B9F2FF 100%)', N'fas fa-gem')
SET IDENTITY_INSERT [dbo].[Rank] OFF
GO
INSERT [dbo].[Roles] ([Role_ID], [Role_Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Role_ID], [Role_Name]) VALUES (2, N'Employee')
INSERT [dbo].[Roles] ([Role_ID], [Role_Name]) VALUES (3, N'Member')
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([Schedule_ID], [Schedule_Time]) VALUES (1, CAST(N'09:00:00' AS Time))
INSERT [dbo].[Schedule] ([Schedule_ID], [Schedule_Time]) VALUES (2, CAST(N'09:30:00' AS Time))
INSERT [dbo].[Schedule] ([Schedule_ID], [Schedule_Time]) VALUES (3, CAST(N'10:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedule_Seat] ON 

INSERT [dbo].[Schedule_Seat] ([Schedule_Seat_ID], [Movie_Show_ID], [Invoice_ID], [Seat_ID], [Seat_Status_ID], [Booked_Price]) VALUES (1, 2, N'INV001', 18, 1, NULL)
INSERT [dbo].[Schedule_Seat] ([Schedule_Seat_ID], [Movie_Show_ID], [Invoice_ID], [Seat_ID], [Seat_Status_ID], [Booked_Price]) VALUES (2, 2, N'INV001', 23, 1, NULL)
INSERT [dbo].[Schedule_Seat] ([Schedule_Seat_ID], [Movie_Show_ID], [Invoice_ID], [Seat_ID], [Seat_Status_ID], [Booked_Price]) VALUES (3, 2, N'INV001', 22, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Schedule_Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([Seat_ID], [Cinema_Room_ID], [Seat_Column], [Seat_Row], [Seat_Status_ID], [Seat_Type_ID], [SeatName]) VALUES (1, 1, N'1', 1, 1, 1, N'A1')
INSERT [dbo].[Seat] ([Seat_ID], [Cinema_Room_ID], [Seat_Column], [Seat_Row], [Seat_Status_ID], [Seat_Type_ID], [SeatName]) VALUES (2, 1, N'2', 1, 2, 1, N'A2')
INSERT [dbo].[Seat] ([Seat_ID], [Cinema_Room_ID], [Seat_Column], [Seat_Row], [Seat_Status_ID], [Seat_Type_ID], [SeatName]) VALUES (3, 1, N'3', 1, 2, 1, N'A3')
GO
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat_Status] ON 

INSERT [dbo].[Seat_Status] ([Seat_Status_ID], [Status_Name]) VALUES (1, N'Available')
INSERT [dbo].[Seat_Status] ([Seat_Status_ID], [Status_Name]) VALUES (2, N'Booked')
INSERT [dbo].[Seat_Status] ([Seat_Status_ID], [Status_Name]) VALUES (3, N'Held')
SET IDENTITY_INSERT [dbo].[Seat_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat_Type] ON 

INSERT [dbo].[Seat_Type] ([Seat_Type_ID], [Type_Name], [Price_Percent], [ColorHex]) VALUES (1, N'Normal', CAST(1000 AS Decimal(18, 0)), N'#cccbc8')
INSERT [dbo].[Seat_Type] ([Seat_Type_ID], [Type_Name], [Price_Percent], [ColorHex]) VALUES (2, N'VIP', CAST(5000 AS Decimal(18, 0)), N'#fa7a7a')
INSERT [dbo].[Seat_Type] ([Seat_Type_ID], [Type_Name], [Price_Percent], [ColorHex]) VALUES (3, N'Couple', CAST(6000 AS Decimal(18, 0)), N'#ffa1f1')
SET IDENTITY_INSERT [dbo].[Seat_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Status_ID], [Status_Name]) VALUES (1, N'Active')
INSERT [dbo].[Status] ([Status_ID], [Status_Name]) VALUES (2, N'Deleted')
INSERT [dbo].[Status] ([Status_ID], [Status_Name]) VALUES (3, N'Hidden')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
INSERT [dbo].[Type] ([Type_ID], [Type_Name]) VALUES (1, N'Action')
INSERT [dbo].[Type] ([Type_ID], [Type_Name]) VALUES (2, N'Comedy')
INSERT [dbo].[Type] ([Type_ID], [Type_Name]) VALUES (3, N'Romance')
GO
INSERT [dbo].[Version] ([Version_ID], [Version_Name], [Multi]) VALUES (1, N'2D', CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[Version] ([Version_ID], [Version_Name], [Multi]) VALUES (2, N'4DX', CAST(2 AS Decimal(18, 0)))
INSERT [dbo].[Version] ([Version_ID], [Version_Name], [Multi]) VALUES (3, N'IMAX', CAST(2 AS Decimal(18, 0)))
GO
INSERT [dbo].[Voucher] ([Voucher_ID], [Account_ID], [Code], [Value], [CreatedDate], [ExpiryDate], [IsUsed], [Image]) VALUES (N'VC001', N'AC002', N'REFUND', CAST(138400.00 AS Decimal(18, 2)), CAST(N'2025-07-01T23:34:06.630' AS DateTime), CAST(N'2025-07-31T23:34:06.630' AS DateTime), 1, N'/images/vouchers/refund-voucher.jpg')
INSERT [dbo].[Voucher] ([Voucher_ID], [Account_ID], [Code], [Value], [CreatedDate], [ExpiryDate], [IsUsed], [Image]) VALUES (N'VC002', N'AC002', N'REFUND', CAST(101600.00 AS Decimal(18, 2)), CAST(N'2025-07-02T00:25:03.187' AS DateTime), CAST(N'2025-08-01T00:25:03.187' AS DateTime), 1, N'/images/vouchers/refund-voucher.jpg')
INSERT [dbo].[Voucher] ([Voucher_ID], [Account_ID], [Code], [Value], [CreatedDate], [ExpiryDate], [IsUsed], [Image]) VALUES (N'VC003', N'AC002', N'REFUND', CAST(147200.00 AS Decimal(18, 2)), CAST(N'2025-07-02T07:58:42.520' AS DateTime), CAST(N'2025-08-01T07:58:42.520' AS DateTime), 1, N'/images/vouchers/refund-voucher.jpg')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__A9D10534141951F9]    Script Date: 8/11/2025 9:05:58 AM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__B15BE12E077FFE35]    Script Date: 8/11/2025 9:05:58 AM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CoupleSeat_First]    Script Date: 8/11/2025 9:05:58 AM ******/
ALTER TABLE [dbo].[CoupleSeat] ADD  CONSTRAINT [UQ_CoupleSeat_First] UNIQUE NONCLUSTERED 
(
	[FirstSeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CoupleSeat_Second]    Script Date: 8/11/2025 9:05:58 AM ******/
ALTER TABLE [dbo].[CoupleSeat] ADD  CONSTRAINT [UQ_CoupleSeat_Second] UNIQUE NONCLUSTERED 
(
	[SecondSeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FoodInvoice_FoodID]    Script Date: 8/11/2025 9:05:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_FoodInvoice_FoodID] ON [dbo].[FoodInvoice]
(
	[Food_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FoodInvoice_InvoiceID]    Script Date: 8/11/2025 9:05:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_FoodInvoice_InvoiceID] ON [dbo].[FoodInvoice]
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Rank_RankName]    Script Date: 8/11/2025 9:05:58 AM ******/
ALTER TABLE [dbo].[Rank] ADD  CONSTRAINT [UQ_Rank_RankName] UNIQUE NONCLUSTERED 
(
	[Rank_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cinema_Room] ADD  CONSTRAINT [DF_CinemaRoom_Status]  DEFAULT ((1)) FOR [Status_ID]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Food] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Food] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Invoice_Promotion_Discount]  DEFAULT ('0') FOR [Promotion_Discount]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT ((0)) FOR [Cancel]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ((0)) FOR [Total_Points]
GO
ALTER TABLE [dbo].[Person] ADD  DEFAULT ((0)) FOR [IsDirector]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[Rank] ADD  DEFAULT ((0)) FOR [PointEarningPercentage]
GO
ALTER TABLE [dbo].[Rank] ADD  DEFAULT ('linear-gradient(135deg, #4e54c8 0%, #6c63ff 50%, #8f94fb 100%)') FOR [ColorGradient]
GO
ALTER TABLE [dbo].[Rank] ADD  DEFAULT ('fa-crown') FOR [IconClass]
GO
ALTER TABLE [dbo].[Seat_Type] ADD  DEFAULT ((100)) FOR [Price_Percent]
GO
ALTER TABLE [dbo].[Seat_Type] ADD  DEFAULT ('#FFFFFF') FOR [ColorHex]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Rank] FOREIGN KEY([Rank_ID])
REFERENCES [dbo].[Rank] ([Rank_ID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Rank]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Roles] ([Role_ID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Cinema_Room]  WITH CHECK ADD FOREIGN KEY([Version_ID])
REFERENCES [dbo].[Version] ([Version_ID])
GO
ALTER TABLE [dbo].[Cinema_Room]  WITH CHECK ADD  CONSTRAINT [FK_CinemaRoom_Status] FOREIGN KEY([Status_ID])
REFERENCES [dbo].[Status] ([Status_ID])
GO
ALTER TABLE [dbo].[Cinema_Room] CHECK CONSTRAINT [FK_CinemaRoom_Status]
GO
ALTER TABLE [dbo].[CoupleSeat]  WITH CHECK ADD FOREIGN KEY([FirstSeatId])
REFERENCES [dbo].[Seat] ([Seat_ID])
GO
ALTER TABLE [dbo].[CoupleSeat]  WITH CHECK ADD FOREIGN KEY([SecondSeatId])
REFERENCES [dbo].[Seat] ([Seat_ID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Account_ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Account]
GO
ALTER TABLE [dbo].[FoodInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FoodInvoice_Food] FOREIGN KEY([Food_ID])
REFERENCES [dbo].[Food] ([FoodId])
GO
ALTER TABLE [dbo].[FoodInvoice] CHECK CONSTRAINT [FK_FoodInvoice_Food]
GO
ALTER TABLE [dbo].[FoodInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FoodInvoice_Invoice] FOREIGN KEY([Invoice_ID])
REFERENCES [dbo].[Invoice] ([Invoice_ID])
GO
ALTER TABLE [dbo].[FoodInvoice] CHECK CONSTRAINT [FK_FoodInvoice_Invoice]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([Movie_Show_Id])
REFERENCES [dbo].[Movie_Show] ([Movie_Show_ID])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([Voucher_ID])
REFERENCES [dbo].[Voucher] ([Voucher_ID])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Account_ID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Account]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Employee] FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[Employee] ([Employee_ID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Employee]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Account_ID])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Account]
GO
ALTER TABLE [dbo].[Movie_Person]  WITH CHECK ADD FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie_Person]  WITH CHECK ADD FOREIGN KEY([Person_ID])
REFERENCES [dbo].[Person] ([Person_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie_Show]  WITH CHECK ADD FOREIGN KEY([Cinema_Room_ID])
REFERENCES [dbo].[Cinema_Room] ([Cinema_Room_ID])
GO
ALTER TABLE [dbo].[Movie_Show]  WITH CHECK ADD FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
GO
ALTER TABLE [dbo].[Movie_Show]  WITH CHECK ADD FOREIGN KEY([Schedule_ID])
REFERENCES [dbo].[Schedule] ([Schedule_ID])
GO
ALTER TABLE [dbo].[Movie_Show]  WITH CHECK ADD FOREIGN KEY([Version_ID])
REFERENCES [dbo].[Version] ([Version_ID])
GO
ALTER TABLE [dbo].[Movie_Type]  WITH CHECK ADD FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
GO
ALTER TABLE [dbo].[Movie_Type]  WITH CHECK ADD FOREIGN KEY([Type_ID])
REFERENCES [dbo].[Type] ([Type_ID])
GO
ALTER TABLE [dbo].[Movie_Version]  WITH CHECK ADD FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
GO
ALTER TABLE [dbo].[Movie_Version]  WITH CHECK ADD FOREIGN KEY([Version_ID])
REFERENCES [dbo].[Version] ([Version_ID])
GO
ALTER TABLE [dbo].[PromotionCondition]  WITH CHECK ADD FOREIGN KEY([ConditionType_ID])
REFERENCES [dbo].[ConditionType] ([ConditionType_ID])
GO
ALTER TABLE [dbo].[PromotionCondition]  WITH CHECK ADD FOREIGN KEY([Promotion_ID])
REFERENCES [dbo].[Promotion] ([Promotion_ID])
GO
ALTER TABLE [dbo].[Schedule_Seat]  WITH CHECK ADD FOREIGN KEY([Invoice_ID])
REFERENCES [dbo].[Invoice] ([Invoice_ID])
GO
ALTER TABLE [dbo].[Schedule_Seat]  WITH CHECK ADD FOREIGN KEY([Movie_Show_ID])
REFERENCES [dbo].[Movie_Show] ([Movie_Show_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedule_Seat]  WITH CHECK ADD FOREIGN KEY([Seat_ID])
REFERENCES [dbo].[Seat] ([Seat_ID])
GO
ALTER TABLE [dbo].[Schedule_Seat]  WITH CHECK ADD FOREIGN KEY([Seat_Status_ID])
REFERENCES [dbo].[Seat_Status] ([Seat_Status_ID])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD FOREIGN KEY([Cinema_Room_ID])
REFERENCES [dbo].[Cinema_Room] ([Cinema_Room_ID])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD FOREIGN KEY([Seat_Status_ID])
REFERENCES [dbo].[Seat_Status] ([Seat_Status_ID])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD FOREIGN KEY([Seat_Type_ID])
REFERENCES [dbo].[Seat_Type] ([Seat_Type_ID])
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [FK_Voucher_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Account_ID])
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [FK_Voucher_Account]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Account_ID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
GO
ALTER TABLE [dbo].[CoupleSeat]  WITH CHECK ADD CHECK  (([FirstSeatId]<[SecondSeatId]))
GO
ALTER TABLE [dbo].[CoupleSeat]  WITH CHECK ADD CHECK  (([FirstSeatId]<>[SecondSeatId]))
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [CK_Member_TotalPoints] CHECK  (([Total_Points]>=isnull([Score],(0))))
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [CK_Member_TotalPoints]
GO
USE [master]
GO
