USE [master]
GO
/****** Object:  Database [MovieTheater]    Script Date: 7/2/2025 9:37:35 AM ******/
CREATE DATABASE [MovieTheater]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieTheater', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MovieTheater.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieTheater_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MovieTheater_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieTheater].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieTheater]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/2/2025 9:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Account_ID] [varchar](10) NOT NULL,
	[Address] [varchar](255) NULL,
	[Date_Of_Birth] [date] NULL,
	[Email] [varchar](255) NULL,
	[Full_Name] [varchar](255) NULL,
	[Gender] [varchar](255) NULL,
	[Identity_Card] [varchar](255) NULL,
	[Image] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
	[Phone_Number] [varchar](255) NULL,
	[Register_Date] [date] NULL,
	[Role_ID] [int] NULL,
	[STATUS] [int] NULL,
	[USERNAME] [varchar](50) NULL,
	[Rank_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema_Room]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema_Room](
	[Cinema_Room_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cinema_Room_Name] [varchar](255) NULL,
	[Seat_Width] [int] NULL,
	[Seat_Length] [int] NULL,
	[Version_ID] [int] NULL,
	[Seat_Quantity]  AS ([Seat_Width]*[Seat_Length]),
PRIMARY KEY CLUSTERED 
(
	[Cinema_Room_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConditionType]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConditionType](
	[ConditionType_ID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConditionType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoupleSeat]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoupleSeat](
	[CoupleSeatId] [int] IDENTITY(1,1) NOT NULL,
	[FirstSeatId] [int] NOT NULL,
	[SecondSeatId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CoupleSeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_ID] [varchar](10) NOT NULL,
	[Account_ID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[FoodId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Description] [varchar](500) NULL,
	[Image] [varchar](255) NULL,
	[Status] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Invoice_ID] [varchar](10) NOT NULL,
	[Add_Score] [int] NULL,
	[BookingDate] [datetime] NULL,
	[Status] [int] NULL,
	[Total_Money] [decimal](18, 0) NULL,
	[Use_Score] [int] NULL,
	[Seat] [varchar](30) NULL,
	[Account_ID] [varchar](10) NULL,
	[Movie_Show_Id] [int] NULL,
	[Promotion_Discount] [int] NULL,
	[Voucher_ID] [varchar](10) NULL,
	[RankDiscountPercentage] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Member_ID] [varchar](10) NOT NULL,
	[Score] [int] NULL,
	[Account_ID] [varchar](10) NULL,
	[Total_Points] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Member_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Movie_ID] [varchar](10) NOT NULL,
	[Actor] [varchar](255) NULL,
	[Cinema_Room_ID] [int] NULL,
	[Content] [varchar](1000) NULL,
	[Director] [varchar](255) NULL,
	[Duration] [int] NULL,
	[From_Date] [date] NULL,
	[Movie_Production_Company] [varchar](255) NULL,
	[To_Date] [date] NULL,
	[Movie_Name_English] [varchar](255) NULL,
	[Movie_Name_VN] [varchar](255) NULL,
	[Large_Image] [varchar](255) NULL,
	[Small_Image] [varchar](255) NULL,
	[TrailerUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Show]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Show](
	[Movie_Show_ID] [int] IDENTITY(1,1) NOT NULL,
	[Movie_ID] [varchar](10) NOT NULL,
	[Cinema_Room_ID] [int] NOT NULL,
	[Show_Date] [date] NOT NULL,
	[Schedule_ID] [int] NOT NULL,
	[Version_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_Show_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Type]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Type](
	[Movie_ID] [varchar](10) NOT NULL,
	[Type_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_ID] ASC,
	[Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Version]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Version](
	[Movie_ID] [varchar](10) NOT NULL,
	[Version_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_ID] ASC,
	[Version_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[Promotion_ID] [int] NOT NULL,
	[Detail] [varchar](255) NULL,
	[Discount_Level] [int] NULL,
	[End_Time] [datetime] NULL,
	[Image] [varchar](255) NULL,
	[Start_Time] [datetime] NULL,
	[Title] [varchar](255) NULL,
	[Is_Active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Promotion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionCondition]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionCondition](
	[Condition_ID] [int] IDENTITY(1,1) NOT NULL,
	[Promotion_ID] [int] NULL,
	[ConditionType_ID] [int] NULL,
	[Target_Entity] [varchar](50) NULL,
	[Target_Field] [varchar](50) NULL,
	[Operator] [varchar](10) NULL,
	[Target_Value] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Condition_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rank]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rank](
	[Rank_ID] [int] IDENTITY(1,1) NOT NULL,
	[Rank_Name] [varchar](50) NULL,
	[Discount_Percentage] [decimal](5, 2) NULL,
	[Required_Points] [int] NULL,
	[PointEarningPercentage] [decimal](5, 2) NOT NULL,
	[ColorGradient] [nvarchar](200) NOT NULL,
	[IconClass] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Rank] PRIMARY KEY CLUSTERED 
(
	[Rank_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_ID] [int] NOT NULL,
	[Role_Name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[Schedule_ID] [int] IDENTITY(1,1) NOT NULL,
	[Schedule_Time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Schedule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule_Seat]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule_Seat](
	[Schedule_Seat_ID] [int] IDENTITY(1,1) NOT NULL,
	[Movie_Show_ID] [int] NULL,
	[Invoice_ID] [varchar](10) NULL,
	[Seat_ID] [int] NULL,
	[Seat_Status_ID] [int] NULL,
	[HoldUntil] [datetime] NULL,
	[HoldBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Schedule_Seat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[Seat_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cinema_Room_ID] [int] NULL,
	[Seat_Column] [varchar](5) NULL,
	[Seat_Row] [int] NULL,
	[Seat_Status_ID] [int] NULL,
	[Seat_Type_ID] [int] NULL,
	[SeatName] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[Seat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat_Status]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat_Status](
	[Seat_Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Status_Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Seat_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat_Type]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat_Type](
	[Seat_Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_Name] [varchar](50) NULL,
	[Price_Percent] [decimal](18, 0) NOT NULL,
	[ColorHex] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Seat_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Type_ID] [int] NOT NULL,
	[Type_Name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Version]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[Version_ID] [int] NOT NULL,
	[Version_Name] [varchar](255) NULL,
	[Multi] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Version_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[Voucher_ID] [varchar](10) NOT NULL,
	[Account_ID] [varchar](10) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[IsUsed] [bit] NULL,
	[Image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Voucher_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 7/2/2025 9:37:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[Account_ID] [varchar](10) NOT NULL,
	[Movie_ID] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Account_ID] ASC,
	[Movie_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Account_ID], [Address], [Date_Of_Birth], [Email], [Full_Name], [Gender], [Identity_Card], [Image], [Password], [Phone_Number], [Register_Date], [Role_ID], [STATUS], [USERNAME], [Rank_ID]) VALUES (N'AC001', N'123 Main St', CAST(N'2000-01-15' AS Date), N'admin@gmail.com', N'Admin', N'Female', N'123456789', N'/image/profile.jpg', N'1', N'0123456789', CAST(N'2023-01-01' AS Date), 1, 1, N'admin', NULL)
INSERT [dbo].[Account] ([Account_ID], [Address], [Date_Of_Birth], [Email], [Full_Name], [Gender], [Identity_Card], [Image], [Password], [Phone_Number], [Register_Date], [Role_ID], [STATUS], [USERNAME], [Rank_ID]) VALUES (N'AC002', N'789 Oak St', CAST(N'2002-11-10' AS Date), N'member@gmail.com', N'Member', N'Female', N'192837465', N'/image/profile.jpg', N'1', N'0111222333', CAST(N'2023-01-10' AS Date), 3, 1, N'member', 3)
INSERT [dbo].[Account] ([Account_ID], [Address], [Date_Of_Birth], [Email], [Full_Name], [Gender], [Identity_Card], [Image], [Password], [Phone_Number], [Register_Date], [Role_ID], [STATUS], [USERNAME], [Rank_ID]) VALUES (N'AC003', N'789 Oak St', CAST(N'2002-11-10' AS Date), N'member2@gmail.com', N'Member', N'Female', N'132837465', N'/image/profile.jpg', N'1', N'0111222333', CAST(N'2023-01-10' AS Date), 3, 0, N'member2', NULL)
GO
SET IDENTITY_INSERT [dbo].[Cinema_Room] ON 

INSERT [dbo].[Cinema_Room] ([Cinema_Room_ID], [Cinema_Room_Name], [Seat_Width], [Seat_Length], [Version_ID]) VALUES (1, N'Screen 1', NULL, NULL, 1)
INSERT [dbo].[Cinema_Room] ([Cinema_Room_ID], [Cinema_Room_Name], [Seat_Width], [Seat_Length], [Version_ID]) VALUES (2, N'Screen 2', NULL, NULL, 1)
INSERT [dbo].[Cinema_Room] ([Cinema_Room_ID], [Cinema_Room_Name], [Seat_Width], [Seat_Length], [Version_ID]) VALUES (3, N'Screen 3', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Cinema_Room] OFF
GO
INSERT [dbo].[ConditionType] ([ConditionType_ID], [Name]) VALUES (1, N'Comparison')
INSERT [dbo].[ConditionType] ([ConditionType_ID], [Name]) VALUES (2, N'Selection')
GO
INSERT [dbo].[Employee] ([Employee_ID], [Account_ID]) VALUES (N'EM001', N'AC004')
INSERT [dbo].[Employee] ([Employee_ID], [Account_ID]) VALUES (N'EM002', N'AC005')
INSERT [dbo].[Employee] ([Employee_ID], [Account_ID]) VALUES (N'EM003', N'AC006')
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([FoodId], [Category], [Name], [Price], [Description], [Image], [Status], [CreatedDate], [UpdatedDate]) VALUES (1, N'food', N'Popcorn', CAST(45000.00 AS Decimal(18, 2)), N'Fresh buttered popcorn', N'/images/foods/af2a1d7e-d2ad-4b45-810b-c7390e0449d8_888adcde997a2f1fd25853e9916186b8.jpg', 1, CAST(N'2025-06-25T09:04:25.193' AS DateTime), CAST(N'2025-06-25T09:06:56.127' AS DateTime))
INSERT [dbo].[Food] ([FoodId], [Category], [Name], [Price], [Description], [Image], [Status], [CreatedDate], [UpdatedDate]) VALUES (4, N'food', N'Nachos', CAST(55000.00 AS Decimal(18, 2)), N'Cheese nachos with salsa', N'/images/foods/642a3374-88eb-4926-9542-8dd4fc765b30_RobloxScreenShot20250203_115037658.png', 1, CAST(N'2025-06-25T09:04:25.193' AS DateTime), CAST(N'2025-06-25T11:30:08.190' AS DateTime))
INSERT [dbo].[Food] ([FoodId], [Category], [Name], [Price], [Description], [Image], [Status], [CreatedDate], [UpdatedDate]) VALUES (5, N'drink', N'Pepsi', CAST(25000.00 AS Decimal(18, 2)), N'Cold Pepsi 500ml', NULL, 1, CAST(N'2025-06-25T09:04:25.193' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
INSERT [dbo].[Invoice] ([Invoice_ID], [Add_Score], [BookingDate], [Status], [Total_Money], [Use_Score], [Seat], [Account_ID], [Movie_Show_Id], [Promotion_Discount], [Voucher_ID], [RankDiscountPercentage]) VALUES (N'INV001', 3, CAST(N'2025-07-01T22:17:12.197' AS DateTime), 1, CAST(28800 AS Decimal(18, 0)), 0, N'B7', N'AC002', 1, 20, NULL, CAST(10.00 AS Decimal(5, 2)))
INSERT [dbo].[Invoice] ([Invoice_ID], [Add_Score], [BookingDate], [Status], [Total_Money], [Use_Score], [Seat], [Account_ID], [Movie_Show_Id], [Promotion_Discount], [Voucher_ID], [RankDiscountPercentage]) VALUES (N'INV002', 6, CAST(N'2025-07-02T09:08:14.880' AS DateTime), 1, CAST(57600 AS Decimal(18, 0)), 0, N'G7,G5', N'AC002', 1, 20, NULL, CAST(10.00 AS Decimal(5, 2)))
INSERT [dbo].[Invoice] ([Invoice_ID], [Add_Score], [BookingDate], [Status], [Total_Money], [Use_Score], [Seat], [Account_ID], [Movie_Show_Id], [Promotion_Discount], [Voucher_ID], [RankDiscountPercentage]) VALUES (N'INV2000', 10, CAST(N'2025-07-01T22:17:00.000' AS DateTime), 1, CAST(28800 AS Decimal(18, 0)), 0, N'B7', N'AC001', 1, 0, NULL, NULL)
GO
INSERT [dbo].[Member] ([Member_ID], [Score], [Account_ID], [Total_Points]) VALUES (N'MB001', 10006, N'AC002', 50006)
INSERT [dbo].[Member] ([Member_ID], [Score], [Account_ID], [Total_Points]) VALUES (N'MB002', 10000, N'AC003', 10000)
INSERT [dbo].[Member] ([Member_ID], [Score], [Account_ID], [Total_Points]) VALUES (N'MB003', 10000, N'AC001', 50000)
GO
SET IDENTITY_INSERT [dbo].[Movie_Show] ON 

INSERT [dbo].[Movie_Show] ([Movie_Show_ID], [Movie_ID], [Cinema_Room_ID], [Show_Date], [Schedule_ID], [Version_ID]) VALUES (1, N'MV003', 7, CAST(N'2025-07-01' AS Date), 1, 3)
INSERT [dbo].[Movie_Show] ([Movie_Show_ID], [Movie_ID], [Cinema_Room_ID], [Show_Date], [Schedule_ID], [Version_ID]) VALUES (2, N'MV100', 8, CAST(N'2025-07-10' AS Date), 29, 1)
INSERT [dbo].[Movie_Show] ([Movie_Show_ID], [Movie_ID], [Cinema_Room_ID], [Show_Date], [Schedule_ID], [Version_ID]) VALUES (3, N'MV100', 8, CAST(N'2025-07-10' AS Date), 29, 1)
SET IDENTITY_INSERT [dbo].[Movie_Show] OFF
GO
INSERT [dbo].[Movie_Type] ([Movie_ID], [Type_ID]) VALUES (N'MV001', 1)
INSERT [dbo].[Movie_Type] ([Movie_ID], [Type_ID]) VALUES (N'MV001', 2)
INSERT [dbo].[Movie_Type] ([Movie_ID], [Type_ID]) VALUES (N'MV002', 3)
GO
INSERT [dbo].[Movie_Version] ([Movie_ID], [Version_ID]) VALUES (N'MV001', 1)
INSERT [dbo].[Movie_Version] ([Movie_ID], [Version_ID]) VALUES (N'MV001', 2)
INSERT [dbo].[Movie_Version] ([Movie_ID], [Version_ID]) VALUES (N'MV002', 1)
GO
INSERT [dbo].[Promotion] ([Promotion_ID], [Detail], [Discount_Level], [End_Time], [Image], [Start_Time], [Title], [Is_Active]) VALUES (1, N'Get 20% off on your first order!', 20, CAST(N'2025-12-31T00:00:00.000' AS DateTime), N'first_time.png', CAST(N'2025-05-01T00:00:00.000' AS DateTime), N'First Time Promo', 1)
INSERT [dbo].[Promotion] ([Promotion_ID], [Detail], [Discount_Level], [End_Time], [Image], [Start_Time], [Title], [Is_Active]) VALUES (2, N'Order with 3 or more people and save 15%!', 15, CAST(N'2025-12-31T00:00:00.000' AS DateTime), N'group_discount.png', CAST(N'2025-05-01T00:00:00.000' AS DateTime), N'Group Discount', 1)
GO
SET IDENTITY_INSERT [dbo].[PromotionCondition] ON 

INSERT [dbo].[PromotionCondition] ([Condition_ID], [Promotion_ID], [ConditionType_ID], [Target_Entity], [Target_Field], [Operator], [Target_Value]) VALUES (1, 1, 1, N'User', N'OrderCount', N'=', N'0')
INSERT [dbo].[PromotionCondition] ([Condition_ID], [Promotion_ID], [ConditionType_ID], [Target_Entity], [Target_Field], [Operator], [Target_Value]) VALUES (2, 2, 1, N'Order', N'Seat_Count', N'>=', N'3')
SET IDENTITY_INSERT [dbo].[PromotionCondition] OFF
GO
SET IDENTITY_INSERT [dbo].[Rank] ON 

INSERT [dbo].[Rank] ([Rank_ID], [Rank_Name], [Discount_Percentage], [Required_Points], [PointEarningPercentage], [ColorGradient], [IconClass]) VALUES (1, N'Bronze', CAST(0.00 AS Decimal(5, 2)), 0, CAST(5.00 AS Decimal(5, 2)), N'linear-gradient(135deg, #804A00 0%, #B87333 50%, #CD7F32 100%)', N'fa-medal')
INSERT [dbo].[Rank] ([Rank_ID], [Rank_Name], [Discount_Percentage], [Required_Points], [PointEarningPercentage], [ColorGradient], [IconClass]) VALUES (2, N'Gold', CAST(5.00 AS Decimal(5, 2)), 30000, CAST(7.00 AS Decimal(5, 2)), N'linear-gradient(135deg, #FFD700 0%, #FDB931 50%, #DAA520 100%)', N'fa-trophy')
INSERT [dbo].[Rank] ([Rank_ID], [Rank_Name], [Discount_Percentage], [Required_Points], [PointEarningPercentage], [ColorGradient], [IconClass]) VALUES (3, N'Diamond', CAST(10.00 AS Decimal(5, 2)), 50000, CAST(10.00 AS Decimal(5, 2)), N'linear-gradient(135deg, #89CFF0 0%, #A0E9FF 50%, #B9F2FF 100%)', N'fa-gem')
SET IDENTITY_INSERT [dbo].[Rank] OFF
GO
INSERT [dbo].[Roles] ([Role_ID], [Role_Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Role_ID], [Role_Name]) VALUES (2, N'Employee')
INSERT [dbo].[Roles] ([Role_ID], [Role_Name]) VALUES (3, N'Member')
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([Schedule_ID], [Schedule_Time]) VALUES (1, CAST(N'09:00:00' AS Time))
INSERT [dbo].[Schedule] ([Schedule_ID], [Schedule_Time]) VALUES (2, CAST(N'09:30:00' AS Time))
INSERT [dbo].[Schedule] ([Schedule_ID], [Schedule_Time]) VALUES (3, CAST(N'10:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedule_Seat] ON 

INSERT [dbo].[Schedule_Seat] ([Schedule_Seat_ID], [Movie_Show_ID], [Invoice_ID], [Seat_ID], [Seat_Status_ID], [HoldUntil], [HoldBy]) VALUES (1, 1, N'INV001', 17, 2, NULL, NULL)
INSERT [dbo].[Schedule_Seat] ([Schedule_Seat_ID], [Movie_Show_ID], [Invoice_ID], [Seat_ID], [Seat_Status_ID], [HoldUntil], [HoldBy]) VALUES (2, 1, N'INV002', 67, 2, NULL, NULL)
INSERT [dbo].[Schedule_Seat] ([Schedule_Seat_ID], [Movie_Show_ID], [Invoice_ID], [Seat_ID], [Seat_Status_ID], [HoldUntil], [HoldBy]) VALUES (3, 1, N'INV002', 65, 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Schedule_Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([Seat_ID], [Cinema_Room_ID], [Seat_Column], [Seat_Row], [Seat_Status_ID], [Seat_Type_ID], [SeatName]) VALUES (1, 7, N'1', 1, 1, 1, N'A1')
INSERT [dbo].[Seat] ([Seat_ID], [Cinema_Room_ID], [Seat_Column], [Seat_Row], [Seat_Status_ID], [Seat_Type_ID], [SeatName]) VALUES (2, 7, N'2', 1, 1, 1, N'A2')
INSERT [dbo].[Seat] ([Seat_ID], [Cinema_Room_ID], [Seat_Column], [Seat_Row], [Seat_Status_ID], [Seat_Type_ID], [SeatName]) VALUES (3, 7, N'3', 1, 1, 1, N'A3')
GO
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat_Status] ON 

INSERT [dbo].[Seat_Status] ([Seat_Status_ID], [Status_Name]) VALUES (1, N'Available')
INSERT [dbo].[Seat_Status] ([Seat_Status_ID], [Status_Name]) VALUES (2, N'Booked')
INSERT [dbo].[Seat_Status] ([Seat_Status_ID], [Status_Name]) VALUES (3, N'Held')
SET IDENTITY_INSERT [dbo].[Seat_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat_Type] ON 

INSERT [dbo].[Seat_Type] ([Seat_Type_ID], [Type_Name], [Price_Percent], [ColorHex]) VALUES (1, N'Normal', CAST(40000 AS Decimal(18, 0)), N'#cccbc8')
INSERT [dbo].[Seat_Type] ([Seat_Type_ID], [Type_Name], [Price_Percent], [ColorHex]) VALUES (2, N'VIP', CAST(50000 AS Decimal(18, 0)), N'#fa7a7a')
INSERT [dbo].[Seat_Type] ([Seat_Type_ID], [Type_Name], [Price_Percent], [ColorHex]) VALUES (3, N'Couple', CAST(60000 AS Decimal(18, 0)), N'#ffa1f1')
SET IDENTITY_INSERT [dbo].[Seat_Type] OFF
GO
INSERT [dbo].[Type] ([Type_ID], [Type_Name]) VALUES (1, N'Action')
INSERT [dbo].[Type] ([Type_ID], [Type_Name]) VALUES (2, N'Comedy')
INSERT [dbo].[Type] ([Type_ID], [Type_Name]) VALUES (3, N'Romance')
GO
INSERT [dbo].[Version] ([Version_ID], [Version_Name], [Multi]) VALUES (1, N'2D', CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[Version] ([Version_ID], [Version_Name], [Multi]) VALUES (2, N'4DX', CAST(2 AS Decimal(18, 0)))
INSERT [dbo].[Version] ([Version_ID], [Version_Name], [Multi]) VALUES (3, N'IMAX', CAST(2 AS Decimal(18, 0)))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__A9D1053472066F55]    Script Date: 7/2/2025 9:37:36 AM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__B15BE12E51A155ED]    Script Date: 7/2/2025 9:37:36 AM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CoupleSeat_First]    Script Date: 7/2/2025 9:37:36 AM ******/
ALTER TABLE [dbo].[CoupleSeat] ADD  CONSTRAINT [UQ_CoupleSeat_First] UNIQUE NONCLUSTERED 
(
	[FirstSeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CoupleSeat_Second]    Script Date: 7/2/2025 9:37:36 AM ******/
ALTER TABLE [dbo].[CoupleSeat] ADD  CONSTRAINT [UQ_CoupleSeat_Second] UNIQUE NONCLUSTERED 
(
	[SecondSeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Rank_RankName]    Script Date: 7/2/2025 9:37:36 AM ******/
ALTER TABLE [dbo].[Rank] ADD  CONSTRAINT [UQ_Rank_RankName] UNIQUE NONCLUSTERED 
(
	[Rank_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__A25C5AA702B2905B]    Script Date: 7/2/2025 9:37:36 AM ******/
ALTER TABLE [dbo].[Voucher] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Food] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Food] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT ((0)) FOR [Promotion_Discount]
GO
ALTER TABLE [dbo].[Member] ADD  DEFAULT ((0)) FOR [Total_Points]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[Rank] ADD  DEFAULT ((0)) FOR [PointEarningPercentage]
GO
ALTER TABLE [dbo].[Rank] ADD  DEFAULT ('linear-gradient(135deg, #4e54c8 0%, #6c63ff 50%, #8f94fb 100%)') FOR [ColorGradient]
GO
ALTER TABLE [dbo].[Rank] ADD  DEFAULT ('fa-crown') FOR [IconClass]
GO
ALTER TABLE [dbo].[Seat_Type] ADD  DEFAULT ((100)) FOR [Price_Percent]
GO
ALTER TABLE [dbo].[Seat_Type] ADD  DEFAULT ('#FFFFFF') FOR [ColorHex]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Rank] FOREIGN KEY([Rank_ID])
REFERENCES [dbo].[Rank] ([Rank_ID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Rank]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Roles] ([Role_ID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Cinema_Room]  WITH CHECK ADD FOREIGN KEY([Version_ID])
REFERENCES [dbo].[Version] ([Version_ID])
GO
ALTER TABLE [dbo].[CoupleSeat]  WITH CHECK ADD FOREIGN KEY([FirstSeatId])
REFERENCES [dbo].[Seat] ([Seat_ID])
GO
ALTER TABLE [dbo].[CoupleSeat]  WITH CHECK ADD FOREIGN KEY([SecondSeatId])
REFERENCES [dbo].[Seat] ([Seat_ID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Account_ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Account]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([Movie_Show_Id])
REFERENCES [dbo].[Movie_Show] ([Movie_Show_ID])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([Voucher_ID])
REFERENCES [dbo].[Voucher] ([Voucher_ID])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Account_ID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Account]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Account_ID])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Account]
GO
ALTER TABLE [dbo].[Movie_Show]  WITH CHECK ADD FOREIGN KEY([Cinema_Room_ID])
REFERENCES [dbo].[Cinema_Room] ([Cinema_Room_ID])
GO
ALTER TABLE [dbo].[Movie_Show]  WITH CHECK ADD FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
GO
ALTER TABLE [dbo].[Movie_Show]  WITH CHECK ADD FOREIGN KEY([Schedule_ID])
REFERENCES [dbo].[Schedule] ([Schedule_ID])
GO
ALTER TABLE [dbo].[Movie_Show]  WITH CHECK ADD FOREIGN KEY([Version_ID])
REFERENCES [dbo].[Version] ([Version_ID])
GO
ALTER TABLE [dbo].[Movie_Type]  WITH CHECK ADD FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
GO
ALTER TABLE [dbo].[Movie_Type]  WITH CHECK ADD FOREIGN KEY([Type_ID])
REFERENCES [dbo].[Type] ([Type_ID])
GO
ALTER TABLE [dbo].[Movie_Version]  WITH CHECK ADD FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
GO
ALTER TABLE [dbo].[Movie_Version]  WITH CHECK ADD FOREIGN KEY([Version_ID])
REFERENCES [dbo].[Version] ([Version_ID])
GO
ALTER TABLE [dbo].[PromotionCondition]  WITH CHECK ADD FOREIGN KEY([ConditionType_ID])
REFERENCES [dbo].[ConditionType] ([ConditionType_ID])
GO
ALTER TABLE [dbo].[PromotionCondition]  WITH CHECK ADD FOREIGN KEY([Promotion_ID])
REFERENCES [dbo].[Promotion] ([Promotion_ID])
GO
ALTER TABLE [dbo].[Schedule_Seat]  WITH CHECK ADD FOREIGN KEY([Invoice_ID])
REFERENCES [dbo].[Invoice] ([Invoice_ID])
GO
ALTER TABLE [dbo].[Schedule_Seat]  WITH CHECK ADD FOREIGN KEY([Movie_Show_ID])
REFERENCES [dbo].[Movie_Show] ([Movie_Show_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedule_Seat]  WITH CHECK ADD FOREIGN KEY([Seat_ID])
REFERENCES [dbo].[Seat] ([Seat_ID])
GO
ALTER TABLE [dbo].[Schedule_Seat]  WITH CHECK ADD FOREIGN KEY([Seat_Status_ID])
REFERENCES [dbo].[Seat_Status] ([Seat_Status_ID])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD FOREIGN KEY([Cinema_Room_ID])
REFERENCES [dbo].[Cinema_Room] ([Cinema_Room_ID])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD FOREIGN KEY([Seat_Status_ID])
REFERENCES [dbo].[Seat_Status] ([Seat_Status_ID])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD FOREIGN KEY([Seat_Type_ID])
REFERENCES [dbo].[Seat_Type] ([Seat_Type_ID])
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [FK_Voucher_Account] FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Account_ID])
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [FK_Voucher_Account]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([Account_ID])
REFERENCES [dbo].[Account] ([Account_ID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([Movie_ID])
REFERENCES [dbo].[Movie] ([Movie_ID])
GO
ALTER TABLE [dbo].[CoupleSeat]  WITH CHECK ADD CHECK  (([FirstSeatId]<[SecondSeatId]))
GO
ALTER TABLE [dbo].[CoupleSeat]  WITH CHECK ADD CHECK  (([FirstSeatId]<>[SecondSeatId]))
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [CK_Member_TotalPoints] CHECK  (([Total_Points]>=isnull([Score],(0))))
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [CK_Member_TotalPoints]
GO
USE [master]
GO
