@* Ticket Selling Management Partial View for Employees *@
<div class="container mt-4">
    <h3>Ticket Selling Management</h3>
    <a href="@Url.Action("SelectEmployee", "Showtime")" class="btn btn-primary mt-3">
        1. Select Movie and Showtime
    </a>
    @* Add more steps here as you implement further features (MT-21, MT-22, etc.) *@
</div> 